{% extends "cms/pages/base_form.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}Create secret | Vicktor{% endblock %}

{% block form_content %}
{% if secret_url %}
    <p>
        {% include "cms/includes/badge.html" with value="Secrets" %}
    </p>
    <h2>{% trans "Secret created" %}</h2>
    <p class="lead">{% trans "Share this link" %}</p>
    <pre><code id="secret-url">{{ secret_url }}</code></pre>
    <button class="mt-5 btn btn-lg btn-primary js-copy">{% trans "Copy to clipboard" %}</button>
    <a href="{% url 'django_secret_sharing:create' %}" class="mt-5 btn btn-lg btn-default">{% trans "Create another secret" %}</a>
{% else %}
    <p>
        {% include "cms/includes/badge.html" with value="Secrets" %}
    </p>
    <h2>{% trans "Create secret" %}</h2>
    <p class="lead">{% trans "Paste a password, secret message or private link below" %}</p>

    {% if form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
        {% for error in form.non_field_errors %}{{ error }}<br />{% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'django_secret_sharing:create' %}" method="POST" class="pt-5" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="mt-5 btn btn-lg btn-primary">{% trans "Create secret" %}</button>
    </form>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script>
    (function(root) {
        $(".js-copy").on("click", function() {
            var value = $("#secret-url").html();

            navigator.clipboard.writeText(value).then(function() {
                alert("{% trans 'Copied to clipboard' %}");
            }).catch(function() {
                alert("{% trans 'Failed to copy value to clipboard' %}");
            })
        });
    })(this);
</script>
{% endblock %}
