{% extends "cms/pages/base_form.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}View secret | Vicktor{% endblock %}

{% block form_content %}
<p>
    {% include "cms/includes/badge.html" with value="Secrets" %}
</p>
<h2>{% trans "This message is for you" %}</h2>
<p class="lead">{% trans "Careful: we will only show it once" %}</p>
<textarea id="secret" class="form-control" rows="3" disabled>{{ secret }}</textarea>
<button class="mt-5 btn btn-lg btn-primary js-copy">{% trans "Copy to clipboard" %}</button>
<a href="{% url 'django_secret_sharing:create' %}" class="mt-5 btn btn-lg btn-default">{% trans "Reply with another secret" %}</a>
{% endblock %}

{% block extra_scripts %}
<script>
    (function(root) {
        $(".js-copy").on("click", function() {
            var value = $("#secret").val();

            navigator.clipboard.writeText(value).then(function() {
                alert("{% trans 'Copied to clipboard' %}");
            }).catch(function() {
                alert("{% trans 'Failed to copy value to clipboard' %}");
            })
        });
    })(this);
</script>
{% endblock %}
